<%= simple_form_for(@carrier) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <p>
      <%= f.label :registration_number %><br />
      <%= f.text_field :registration_number %>
    </p>

    <p>
      <%= f.label :size %><br />
      <%= f.text_field :size %>
    </p>

    <p>
      <%= f.label :driver_name %><br />
      <%= f.text_field :driver_name %>
    </p>

    <p>
      <%= f.label :driver_email %><br />
      <%= f.text_field :driver_email %>
    </p>

    <p>
      <%= f.label :carrier_name %><br />
      <%= f.text_field :carrier_name %>
    </p>

    <p>
      <%= f.label :carrier_email %><br />
      <%= f.text_field :carrier_email %>
    </p>

    <%= f.fields_for :address do |address| %>
      <%= render :partial => 'shared/address', :locals => {:f => address} %>
    <% end %>

    <%= f.fields_for :contact do |contact| %>
      <%= render :partial => 'shared/contact', :locals => {:f => contact} %>
    <% end %>

    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
