<%= render :partial => 'shared/create_client_modal' %>
<%= simple_form_for(@carrier) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <p>
          <%= f.label :is_third_party, "Czy zewnętrzny zleceniobiorca?" %>
          <%= f.check_box :is_third_party %>
          <%= f.error :is_third_party %>
        </p>
        <p>
          <%= f.label :registration_number %><br />
          <%= f.text_field :registration_number %>
          <%= f.error :registration_number, id: 'registration_number' %>
        </p>

        <p>
          <%= f.label :size %><br />
          <%= f.text_field :size %>
          <%= f.error :size, id: 'size' %>
        </p>

        <p>
          <%= f.label :driver_name %><br />
          <%= f.text_field :driver_name %>
          <%= f.error :driver_name, id: 'driver_name' %>
        </p>

        <p>
          <%= f.label :driver_email %><br />
          <%= f.text_field :driver_email %>
          <%= f.error :driver_email, id: 'driver_email' %>
        </p>

        <p>
          <%= f.label :driver_phone %><br />
          <%= f.text_field :driver_phone %>
          <%= f.error :driver_email, id: 'driver_phone' %>
        </p>
      </div>
      <div class="col-md-6">
        <div class="form-inputs">
          <%= f.label "Dane firmy", :client_id %>
          <%= f.collection_select :client_id, Client.in_any_group(@group), 'id', 'name', prompt: 'Wybierz dane firmy lub stwórz nowe' %>
          <%= f.error :client_id %>
        </div>
        <div>
          <br>
          <% client_edit_path = "" %>
          <% if @carrier.client_id %>
          <% client_edit_path = edit_client_path(:id => @carrier.client_id) %>
          <% end %>
          <%= link_to raw("<button class=\"btn btn-status\">Edytuj</button>"), client_edit_path, :class => "link_to_client_edit" %>
          <br>
          <label class="string optional">Nazwa</label>
          <input id="info_name" type="text" disabled value="<%=  @carrier.client.name if @carrier.client.present? %>">
          <label class="string optional">NIP</label>
          <input id="info_nip" type="text" disabled value="<%=  @carrier.client.nip if @carrier.client.present? %>">
          <label class="string optional">Ulica</label>
          <input id="info_street" type="text" disabled value="<%=  @carrier.client.address.street if @carrier.client.present?  %>" />
        </div>
      </div>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
