<nav class="navbar menubar">
  <ul>
    <li>
      <%= link_to_menu("Zobacz faktury", "glyphicon-search", invoices_path(:carrier_id=>@carrier.id)) %>
    </li>

    <li>
      <%= link_to_menu("Zobacz zlecenia", "glyphicon-search", transport_orders_path(:carrier_id=>@carrier.id)) %>
    </li>

    <li>
      <%= link_to_menu("Edytuj", "glyphicon-edit", edit_carrier_path(@carrier)) %>
    </li>

    <li>
      <%= link_to_menu("Usuń", "glyphicon-trash", carrier_path(@carrier), 1) %>
    </li>
  </ul>
</nav>

<h3> <%= @carrier.registration_number %></h3>
<hr>
<div class="row">
  <div class="col-md-6">
    <strong>Numer rejestracyjny:</strong>  <%= @carrier.registration_number %><br>
    <strong>Wymiary:</strong> <%= @carrier.size %> <br>
    <strong>Imie i nazwisko kierowcy:</strong> <%= @carrier.driver_name %> <br>
    <strong>Email kierowcy:</strong> <%= @carrier.driver_email %> <br>
    <strong>Nazwa przewoźnika:</strong> <%= @carrier.client.name %> <br>
  </div>
  <div class="col-md-6">
    <div class="col-md-6">
      <h4>Adres:</h4>
      <p>
        <%= @carrier.client.address.street %><br>
        <%= @carrier.client.address.zip %>,
        <%= @carrier.client.address.city %><br>
        <%= @carrier.client.address.state %><br>
        <%= @carrier.client.address.country %><br>
      </p>
      <h4>Kontakt:</h4>
      <p>
        Telefon:
        <%= @carrier.client.contact.phone1 %>
        <%= @carrier.client.contact.phone2 %><br>
        Fax:
        <%= @carrier.client.contact.fax %><br>
        Email:
        <% @carrier.client.contact.emails.each do |email| %>
        <%= email.address %>
        <% end %> <br>
        WWW:
        <%= @carrier.client.contact.www %><br>
      </p>
    </div>
  </div>
</div>
