<%= form_for(@invoice) do |invoice_form| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="invoice-form form-group">
    <%= label_tag :date, "Data wystawienia faktury" %>
    <div class='input-group date' id='datetimepicker1' data-date-format="yyyy-mm-dd" locale="pl">
        <%= invoice_form.text_field :date, { class: "form-control", value: Date.today, :readonly => true } %>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>

    <h3> Numer faktury </h3>
    <%= invoice_form.fields_for :invoice_name do |invoice_name_form| %>
      <% render :partial => 'invoice_name_form', :locals => {:f => invoice_name_form} %>
    <% end %>

    <hr>

    <h3> Nabywca </h3>
    <% if @invoice.client.nil? || @invoice.seller.nil? %>
      <% clients = Client.limit(2) %>
      <% sellers = Client.limit(2) %>
    <% else %>
      <% clients = [@invoice.client, ] %>
      <% sellers = [@invoice.seller, ] %>
    <% end %>
    <%= invoice_form.collection_select :client_id, Client.limit(3), :id, :name %>

    <h3> My </h3>
    <%= invoice_form.collection_select :seller_id, Client.limit(3), :id, :name %>

    <hr>

    <h3> Towary </h3>
    <ul class="invoice_items_form">
      <hr>
      <%= invoice_form.fields_for :invoice_items do |builder| %>
        <%= render 'invoice_item_fields', f: builder %>
      <% end %>
      <%= link_to_add_invoice_item "Dodaj towar", invoice_form, :invoice_items %>
    </ul>

    <hr>

    <div class="actions">
      <%= invoice_form.submit %>
    </div>

  </div>
<% end %>
