<!-- <%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %> -->

<%= simple_form_for(@invoice) do |form| %>

  <%= form.input :date %>
  <%= form.simple_fields_for(:invoice_items) do |invoice_items_form| %>
    <% item = invoice_items_form.object.name.titleize %>
    <%= invoice_items_form.input :name, as: :hidden %>
    <%= invoice_items_form.simple_fields_for(:item) do |item_form| %>
        <%= item_form.input :name %>
      <% end %>
    <%=  %>
  <% end %>

  <%= form.submit "Submit" %>
<% end %>
