<%= form_for(@invoice) do |invoice_form| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h3> Data </h3>
  <%= invoice_form.text_field :date %>

  <h3> Nazwa faktury </h3>
  <%= invoice_form.fields_for :invoice_name do |invoice_name_form| %>
    <% render :partial => 'invoice_name_form', :locals => {:f => invoice_name_form} %>
  <% end %>

  <h3> Ajax send requests but I have Client.all </h3>
  <%= invoice_form.collection_select :client_id, Client.all.limit(2), :id, :name %>

  <h3> Ajax not working </h3>
  <%= invoice_form.collection_select :seller_id, [], :id, :name %>

  <h3> Usługi/towary </h3>
  <ul>
  <%= invoice_form.fields_for :invoice_items do |builder| %>
    <%= render 'invoice_item_fields', f: builder %>
  <% end %>
  <%= link_to_add_invoice_item "Dodaj towar", invoice_form, :invoice_items %>
  <ul>
  <div class="actions">
    <%= invoice_form.submit %>
  </div>
<% end %>
