<%= render :partial => 'shared/create_client_modal' %>
<%= render :partial => 'shared/create_item_modal' %>
<%= form_for(@invoice) do |invoice_form| %>
<% if @invoice.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@invoice.errors.count, "error") %>
    prohibited this invoice from being saved:</h2>

  <ul>
    <% @invoice.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="invoice-form form-group">
  <div class="row">
    <div class="col-sm-3">
      <%= label_tag :date, "Data wystawienia faktury" %>
      <div class='input-group date' id='datetimepicker1' data-date-format="yyyy-mm-dd" locale="pl">
        <%= invoice_form.text_field :date, { class: "form-control", value: Date.today, :readonly => true } %>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>

    <div class="col-sm-4">
      <%= label_tag :invoice_name_form, "Numer faktury" %>
      <%= invoice_form.fields_for :invoice_name do |invoice_name_form| %>
      <% render :partial => 'invoice_name_form', :locals => {:f => invoice_name_form} %>
      <% end %>
    </div>

    <div class="col-sm-3">
      <%= label_tag :place, "Miejsce wystawienia" %>
      <%= invoice_form.text_field :place %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-6">
      <% if @invoice.client.nil? || @invoice.seller.nil? %>
      <% clients = Client.all.limit(0) %>
      <% sellers = Client.all.limit(0) %>
    <% else %>
      <% clients = [@invoice.client, ] %>
      <% sellers = [@invoice.seller, ] %>
      <% end %>
      <h3>
        My
      </h3>
      <%= invoice_form.collection_select :seller_id, sellers, 'id', 'name', prompt: 'Wybierz sprzedawce' %>
    </div>

    <div class="col-sm-6">
      <h3>
        Nabywca
      </h3>
      <%= invoice_form.collection_select :client_id, clients, 'id', 'name', prompt: 'Wybierz klienta' %>
      <%= label_tag :client_name, "Nazwa klienta" %>
      <%= invoice_form.text_field :client_name %>
      <%= label_tag :client_street, "Ulica i numer" %>
      <%= invoice_form.text_field :client_street %>
      <%= label_tag :client_zip, "Kod pocztowy" %>
      <%= invoice_form.text_field :client_zip %>
      <%= label_tag :client_city, "Miasto" %>
      <%= invoice_form.text_field :client_city %>
      <%= label_tag :client_country, "Kraj" %>
      <%= invoice_form.text_field :client_country %>
      <%= label_tag :client_email, "Email" %>
      <%= invoice_form.text_field :client_email %>
      <%= label_tag :client_phone, "Telefon" %>
      <%= invoice_form.text_field :client_phone %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-12">
      <h3>
        Towary
      </h3>
      <table class="invoice_items_form table">
        <thead>
          <th>Nazwa towaru</th>
          <th>Ilość</th>
          <th>Cena netto</th>
          <th>Stawka VAT</th>
          <th>Wartość netto</th>
          <th>Wartość VAT</th>
          <th>Wartość brutto</th>
          <th></th>
        </thead>
        <tbody>
          <%= invoice_form.fields_for :invoice_items do |builder| %>
          <%= render 'invoice_item_fields', f: builder %>
          <% end %>
          <tr>
            <td colspan="8">
              <%= link_to_add_invoice_item "Dodaj towar", invoice_form, :invoice_items %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9"></div>
    <div class="col-sm-3">
      <%= invoice_form.label :net_price_cents, "Netto" %>
      <%= invoice_form.number_field :net_price, :readonly => true, :step => '0.01'  %>
      <%= invoice_form.hidden_field :net_price_currency, :readonly => true, :class => 'currency' %>
      <%= invoice_form.label :value_added_tax_cents, "VAT" %>
      <%= invoice_form.number_field :value_added_tax, :readonly => true, :step => '0.01' %>
      <%= invoice_form.hidden_field :value_added_tax_currency, :readonly => true, :class => 'currency'  %>
      <%= invoice_form.label :total_selling_price_cents, "Brutto" %>
      <%= invoice_form.number_field :total_selling_price, :readonly => true, :step => '0.01' %>
      <%= invoice_form.hidden_field :total_selling_price_currency, :readonly => true, :class => 'currency' %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-warning currency_change_warning">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Uwaga!</strong> Waluta została zmieniona. Ceny produktów nie zostały przeliczone na inną walutę. Nanieś stosowne zmiany.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <% currencies = ["EUR", "USD", "PLN"] %>
      <div class="form-group">
        <%= invoice_form.label :currency_rate_name, "Waluta" %>
        <%= invoice_form.collection_select :currency_rate_name, currencies, :to_s, :to_s, { include_blank: false }, { class: "form-control" } %>
      </div>
    </div>
    <div class="col-sm-3">
      <% languages = ["PL",] %>
      <div class="form-group">
        <%= invoice_form.label :invoice_language, "Język" %>
        <%= invoice_form.collection_select :invoice_language, languages, :to_s, :to_s, { include_blank: false }, { class: "form-control" } %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <% exchange_currencies = ["PLN", "Nie przeliczaj"] %>
        <%= invoice_form.label :invoice_exchange_currency, "Przeliczanie na walutę" %>
        <%= invoice_form.collection_select :invoice_exchange_currency, exchange_currencies, :to_s, :to_s, { include_blank: false }, { class: "form-control" } %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <%= invoice_form.label :total_price_in_words, "Kwota słownie" %>
      <%= invoice_form.text_field :total_price_in_words %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <%= label_tag :currency_rate_table_name, "Tabela kursu" %>
      <%= invoice_form.text_field :currency_rate_table_name, :readonly => true %>

      <%= label_tag :currency_rate, "Kurs" %>
      <%= invoice_form.text_field :currency_rate, :readonly => true %>
    </div>
  </div>

  <br>
  <div class="actions">
    <%= invoice_form.submit %>
  </div>
</div>
<% end %>
