<%= form_for(@invoice) do |invoice_form| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h3> Data </h3>
  <%= invoice_form.text_field :date %>

  <h3> Nazwa faktury </h3>
  <%= invoice_form.fields_for :invoice_name do |invoice_name_form| %>
    <% render :partial => 'invoice_name_form', :locals => {:f => invoice_name_form} %>
  <% end %>

  <h3> Klient </h3>
  <%= invoice_form.collection_select :client_id, Client.all, :id, :name %>

  <h3> My </h3>
  <%= invoice_form.collection_select :seller_id, Client.all, :id, :name %>

  <h3> Usługi/towary </h3>
  <ul>
  <%= invoice_form.fields_for :invoice_items do |builder| %>
  <li>
    <%= builder.label :quantity %>
    <%= builder.number_field :quantity %> <br>
    <%= builder.collection_select :item_id, Item.all, :id, :name %>
    <!-- <%= builder.fields_for :item do |item| %>
      <%= item.label :name %> <br>
      <%= item.text_field :name %> <br>
      <%= item.label :unit %> <br>
      <%= item.text_field :unit %>
    <% end %> -->
  </li>
  <% end %>
  <ul>
  <div class="actions">
    <%= invoice_form.submit %>
  </div>
<% end %>
