<div class="invoice_name_form">
  <input type="text" id="invoice_name"></input>
  <%= f.hidden_field :prefix, :readonly => true %>
  <%= f.hidden_field :number, :readonly => true %>
  <%= f.hidden_field :month, :readonly => true %>
  <%= f.hidden_field :year, :readonly => true %>
  <%= f.hidden_field :group_id, :readonly => true, :value => @group.id %>
</div>
