<div class="invoice_name_form">
  <%= f.label :number, 'Numer' %>
  <%= f.number_field :number %>

  <%= f.label :month, 'Miesiąc' %>
  <%= f.number_field :month %>

  <%= f.label :year, 'Rok' %>
  <%= f.number_field :year %>
</div>
