<div class="invoice_name_form">
  <%= f.label :number, 'Numer' %>
  <%= f.number_field :number, :readonly => true %>

  <%= f.label :month, 'Miesiąc' %>
  <%= f.number_field :month, :readonly => true %>

  <%= f.label :year, 'Rok' %>
  <%= f.number_field :year, :readonly => true %>
</div>
