<p>
  <%= f.label :number, 'Number' %><br />
  <%= f.number_field :number %>
</p>

<p>
  <%= f.label :month, 'Month' %><br />
  <%= f.number_field :month %>
</p>

<p>
  <%= f.label :year %><br />
  <%= f.number_field :year %>
</p>
