<div id="invoice">
  <div class="row">
    <div class="col-xs-12">
      <% if @invoice.kind == 'correction' %>
        <span class="invoice_bold">Faktura korygująca numer:</span>
        <%= @invoice.invoice_name.get_name %>
        <br>
        <span>Dokument korygowany:</span> Faktura <%= @invoice.invoice_to_correct.get_name %> z dnia <%= @invoice.invoice_to_correct.date.strftime('%F') %>
        <br><br>
      <% else %>
        <span class="invoice_bold">Faktura numer:</span>
        <%= @invoice.invoice_name.get_name %>
        <br><br>
      <% end %>
      <span class="invoice_bold">Data wystawienia:</span>
      <%= @invoice.place %>, <%= @invoice.date.strftime('%F') %>
      <br>
      <span class="invoice_bold">Data sprzedaży:</span>
      <%= @invoice.date.strftime('%F') %>
      <br>
      <span class="invoice_bold">Termin płatności:</span>
      <%= @invoice.date_deadline.strftime('%F') %>
      <br>
      <span class="invoice_bold">Płatność:</span>
      Przelew
      <br>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-6">
      <p class="invoice_bold">Sprzedawca</p>
      <%= @invoice.seller.name %>
      <br>
      <%= @invoice.seller.address.line1 %>
      <br>
      <%= @invoice.seller.address.zip %>,
      <%= @invoice.seller.address.city %>
      <br>
      <%= @invoice.seller.address.country %>
      <br>
    </div>

    <div class="col-xs-6">
      <p class="invoice_bold">
        Nabywca
      </p>
      <%= @invoice.client_name %>
      <br>
      <%= @invoice.client_street %>
      <br>
      <%= @invoice.client_zip %>,
      <%= @invoice.client_city %>
      <br>
      <%= @invoice.client_country %>
      <br>
      NIP <%= @invoice.client.nip %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-bordered invoice_items">
        <thead>
          <th>LP</th>
          <th>Nazwa towaru/usługi</th>
          <% if @invoice.kind == 'correction' %>
            <th></th>
          <% end %>
          <th>Ilość</th>
          <th>Cena netto</th>
          <th>Wartość netto</th>
          <th>VAT %</th>
          <th>Wartość VAT</th>
          <th>Wartość brutto</th>
        </thead>
        <tbody>
          <% if @invoice.kind == 'correction' %>
            <% invoice_items = @invoice.invoice_item_corrections %>
          <% else %>
            <% invoice_items = @invoice.invoice_items %>
          <% end %>
          <% invoice_items.each do |invoice_item| %>
          <tr>
            <td></td>
            <td><%= invoice_item.item.name %></td>
            <% if @invoice.kind == 'correction' %>
              <td>Przed korektą</td>
            <% end %>
            <td><%= invoice_item.quantity %>
              <%= invoice_item.item.unit %></td>
            <td><%= humanized_money_with_symbol invoice_item.unit_price %></td>
            <td><%= humanized_money_with_symbol invoice_item.net_price %></td>
            <td><%= invoice_item.tax_rate %></td>
            <td><%= humanized_money_with_symbol invoice_item.value_added_tax %></td>
            <td><%= humanized_money_with_symbol invoice_item.total_selling_price %></td>
          </tr>
          <% if @invoice.kind == 'correction' %>
          <tr>
            <td></td>
            <td><%= invoice_item.item_name_correction %></td>
            <td>Po korekcie</td>
            <td><%= invoice_item.quantity_correction %>
              <%= invoice_item.item.unit %></td>
            <td><%= humanized_money_with_symbol invoice_item.unit_price_correction %></td>
            <td><%= humanized_money_with_symbol invoice_item.net_price_correction %></td>
            <td><%= invoice_item.tax_rate_correction %></td>
            <td><%= humanized_money_with_symbol invoice_item.value_added_tax_correction %></td>
            <td><%= humanized_money_with_symbol invoice_item.total_selling_price_correction %></td>
          </tr>
          <tr class="correction_difference_row">
            <td></td>
            <td><%= invoice_item.item_name_correction %></td>
            <td>korekta</td>
            <td><%= invoice_item.quantity_difference %></td>
            <td><%= humanized_money_with_symbol invoice_item.unit_price_difference %></td>
            <td><%= humanized_money_with_symbol invoice_item.net_price_difference %></td>
            <td><%= invoice_item.tax_rate_correction %></td>
            <td><%= humanized_money_with_symbol invoice_item.value_added_tax_difference %></td>
            <td><%= humanized_money_with_symbol invoice_item.total_selling_price_difference %></td>
          </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
    <table class="invoice_summary">
      <tr>
        <th class="invoice_bold"> Wartość netto </th>
        <td> <%= humanized_money_with_symbol @invoice.net_price %> </td>
        <% Money.add_rate(@invoice.currency_rate_name, @invoice.proper_exchange_currency, @invoice.currency_rate) %>
        <td> <%= humanized_money_with_symbol @invoice.net_price.exchange_to(@invoice.proper_exchange_currency) %></td>
      </tr>
      <tr>
        <th class="invoice_bold"> Wartość VAT </th>
        <td> <%= humanized_money_with_symbol @invoice.value_added_tax %> </td>
        <td><%= humanized_money_with_symbol @invoice.value_added_tax.exchange_to(@invoice.proper_exchange_currency)  %> </td>
      </tr>
      <tr>
        <th class="invoice_bold">Wartość brutto</th>
        <td><%= humanized_money_with_symbol @invoice.total_selling_price %></td>
        <td><%= humanized_money_with_symbol @invoice.total_selling_price.exchange_to(@invoice.proper_exchange_currency)  %></td>
      </tr>
  </table>
</div>
  </div>
  <hr>

  <div class="row">
    <div class="col-xs-12">
      <% if @invoice.currency_rate_table_name.present? %>
        Kurs waluty <%= @invoice.currency_rate_name %>/<%= @invoice.proper_exchange_currency %> <%= @invoice.currency_rate.to_s.gsub(".", ",") %>, tabela kursów średnich NBP nr <%= @invoice.currency_rate_table_name %> z dnia <%= @invoice.currency_rate_date.strftime('%F') %> <br>
        <span class="invoice_bold">Przeliczona kwota VAT: <%= @invoice.value_added_tax.exchange_to(@invoice.proper_exchange_currency).to_s.gsub(".", ",")   %> <%= @invoice.proper_exchange_currency %></span>
        <hr>
      <% end %>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12">
      <table class="invoice_price_in_words">
        <tr>
          <th>Do zapłaty </th>
          <td><%= humanized_money_with_symbol @invoice.total_selling_price %><br>
          Słownie: <%= @invoice.total_price_in_words %> </td>
        </tr>
      </table>
    </div>
  </div>
</div>
