<h1>Listing invoices</h1>
<%= form_tag clients_path, :method => 'get' do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>numer faktury</th>
      <th><%= sortable "date" %></th>
      <th><%= sortable "clients.name" %></th>
      <th><%= sortable "net_price_cents" %></th>
      <th><%= sortable "value_added_tax_cents" %></th>
      <th><%= sortable "total_selling_price_cents" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.invoice_name.get_name %></td>
        <td><%= invoice.date %></td>
        <td><%= invoice.client.name %></td>
        <td><%= humanized_money_with_symbol invoice.net_price %></td>
        <td><%= humanized_money_with_symbol invoice.value_added_tax %></td>
        <td><%= humanized_money_with_symbol invoice.total_selling_price %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @posts %>
<br>

<%= link_to 'New Invoice', new_invoice_path %>
