<%= form_tag invoices_path, :method => 'get' do %>
<div class="row">
  <div class="col-sm-3">

    <div class="search_form">
      <div id="short_search_form">
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>

        <%= label_tag :date, "Data wystawienia faktury" %>
        <div class='input-group date' id='datetimepicker1' data-date-format="yyyy-mm-dd" locale="pl">
          <%= text_field_tag :date, params[:date] %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <a href="" id="advanced_search_button">Zaawansowane wyszukiwanie</a>
      </div>

      <div id="advanced_search_form">
        <%= label_tag :invoice_name, "Numer faktury" %>
        <%= number_field_tag :invoice_name_number, params[:invoice_name_number] %>
        <%= number_field_tag :invoice_name_month, params[:invoice_name_month] %>
        <%= number_field_tag :invoice_name_year, params[:invoice_name_year] %>

        <% label_tag :statuses, "Status faktury" %>

        <div class="form_short">
          <% statuses = params[:statuses] %>
          <% if statuses.nil? %>
            <% statuses = Array.new %>
          <% end %>
          <table>
          <tr><td><%= check_box_tag "statuses[]", 1, statuses.include?('1') %> Wystawiona</tr></td>
          <tr><td><%= check_box_tag "statuses[]", 2, statuses.include?('2') %> Wysłana</tr></td>
          <tr><td><%= check_box_tag "statuses[]", 3, statuses.include?('3') %> Zapłacona</tr></td>
          </table>
        </div>

        <%= label_tag :date_start, "Od" %>
        <div class='input-group date' id='datetimepicker1' data-date-format="yyyy-mm-dd" locale="pl">
          <%= text_field_tag :date_start, params[:date_start] %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>

        <%= label_tag :date_stop, "Do" %>
        <div class='input-group date' id='datetimepicker1' data-date-format="yyyy-mm-dd" locale="pl">
          <%= text_field_tag :date_stop, params[:date_stop] %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>

        <%= label_tag :client_name, "Nazwa klienta" %>
        <div>
          <%= text_field_tag :client_name, params[:client_name] %>
        </div>
      </div>
      <%= submit_tag "Search", :date => nil, :client_name => nil %>
      <a href="" id="reset_search_button">Resetuj</a>
      <br>
      <% end %>
      <%= link_to 'New Invoice', new_invoice_path, class: "button-success" %>
    </div>
  </div>
  <div class="col-sm-9">
    <h1>Listing invoices</h1>

    <%= form_tag update_multiple_invoices_path, :method => :put do %>
    <nav class="navbar menubar update_invoices">
      <ul>
        <li>
          <span id="invoices_to_update_count"></span> faktury do edycji
        </li>
        <li>
          <%= select_tag "status", "<option value='1'>wystawiona</option><option value='2'>wysłana</option><option value='3'>zapłacona</option>".html_safe, { class: 'form-control' } %>
          <%= submit_tag "Aktualizuj status" %>

          <%= submit_tag "Pobierz faktury" %>
        </li>
      </ul>
    </nav>

    <table class="table invoices_table">
      <thead>
        <tr>
          <th></th>
          <th>Numer</th>
          <th><%= sortable "net_price_cents", "Wartość netto" %></th>
          <th><%= sortable "total_selling_price_cents", "Wartość brutto" %></th>
          <th><%= sortable "clients.name", "Klient" %></th>
          <th><%= sortable "date", "Data wystawienia" %></th>
          <th>Produkty</th>
          <th><%= sortable "status", "Status" %></th>
          <th><%= sortable "date_deadline", "Prz." %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @invoices.each do |invoice| %>
        <tr>
          <td><%= check_box_tag 'invoice_ids[]', invoice.id %></td>
          <td><%= link_to invoice.invoice_name.get_name, invoice %></td>
          <td><%= link_to "#{humanized_money_with_symbol invoice.net_price}", invoice %></td>
          <td><%= link_to "#{humanized_money_with_symbol invoice.total_selling_price}", invoice %></td>
          <td><%= link_to invoice.client.name, invoice.client %></td>
          <td><%= link_to invoice.date.strftime('%F'), invoice %></td>
          <td>
            <% invoice.items.each do |product| %>
              <%= link_to product.name, product%>
            <% end %>
          </td>
          <td>
            <div class="btn-group invoice-status" invoice-id="<%= invoice.id %>">
              <% button_status_class = "btn-status-#{invoice.status}" %>
              <button type="button" class="btn <%= button_status_class %> status" data-toggle="dropdown"><%= invoice.status_name %></button>
              <button type="button" class="btn <%= button_status_class %> dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" invoice-id="<%= invoice.id %>">
                <li><a class="invoice_option" href="#" value="1">wystawiona</a></li>
                <li><a class="invoice_option" href="#" value="2">wysłana</a></li>
                <li><a class="invoice_option" href="#" value="3">zapłacona</a></li>
              </ul>
          </div>
          </td>
          <% overdue_class = overdue_class_for(invoice.overdue.round) %>
          <td><div class="btn <%= overdue_class %> overdue"><%= invoice.overdue.round %></div></td>
          <td>
            <div class="btn-group invoice-status" invoice-id="<%= invoice.id %>">
              <button type="button" class="btn btn-secondary" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span></button>
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to 'Show', invoice %></li>
                <li><%= link_to 'Edit', edit_invoice_path(invoice) %></li>
                <li><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></li>
              </ul>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
    <%= will_paginate @posts %>
    <br>
  </div>
</div>
