<nav class="navbar menubar">
  <ul class="left">
    <li>
      <%= link_to_menu("Utwórz korektę", "glyphicon-file", new_correction_invoice_path(@invoice)) %>
    </li>

    <li>
    <%= link_to_menu("Drukuj", "glyphicon-print", invoice_path(@invoice, :format => :pdf)) %>
    </li>

    <li>
    <%= link_to_menu("Pobierz PDF", "glyphicon-cloud-download", invoice_path(@invoice, :format => :pdf)) %>
    </li>

    <li>
      <%= link_to_menu("Historia windykacji", "glyphicon-euro", vindication_show_path(@invoice)) %>
    </li>

    <li>
    <%= link_to_menu("Edytuj", "glyphicon-edit", edit_invoice_path(@invoice)) %>
    </li>

    <li>
    <%= link_to_menu("Usuń", "glyphicon-trash", invoice_path(@invoice), 1) %>
    </li>
  </ul>

  <ul class="right">
    <li>
      <span class="glyphicon glyphicon-collapse-down" id="show_hidden_menubar"></span>
    </li>
  </ul>

  <div style="clear: both"></div>

  <div class="row hidden_menubar">
    <div class="col-sm-12">
      <% @invoice.transport_orders.each do |transport_order| %>
      <%= link_to transport_order.transport_order_name.get_name, transport_order_path(transport_order) %>
      <% end %>
    </div>
  </div>
</nav>

<div id="invoice_page">
  <%= render 'invoice_doc' %>
</div>

<%= link_to 'Edit', edit_invoice_path(@invoice) %>
|
<%= link_to 'Back', invoices_path %>
