<%= simple_form_for(@group) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.error :name %>
    <%= f.label :subdomain %>
    <%= f.text_field :subdomain %>
    <%= f.error :subdomain %>
    <br>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
