<div class="form-group">
  <%= f.label :street, 'Ulica i numer' %><br />
  <%= f.text_field :street, :required => true %>
  <span class="help-block"></span>
</div>

<div class="form-group">
  <%= f.label :city %><br />
  <%= f.text_field :city, :required => true %>
  <span class="help-block"></span>
</div>

<div class="form-group optional">
  <%= f.label :state %><br />
  <%= f.text_field :state, :size => 2 %>
  <span class="help-block"></span>
</div>

<div class="form-group">
  <%= f.label :country %><br />
  <%= f.text_field :country, :required => true %>
  <span class="help-block"></span>
</div>

<div class="form-group">
  <%= f.label :zip, 'Zip Code' %><br />
  <%= f.text_field :zip, :required => true %>
  <span class="help-block"></span>
</div>
