<div class="form-group optional">
  <%= f.label :phone1, 'Phone 1' %><br />
  <%= f.text_field :phone1 %>
  <span class="help-block"></span>
</div>

<div class="form-group optional">
  <%= f.label :phone2, 'Phone 2' %><br />
  <%= f.text_field :phone2 %>
</div>

<div class="form-group optional">
  <%= f.label :fax %><br />
  <%= f.text_field :fax %>
  <span class="help-block"></span>
</div>

<div class="form-group">
  <%= f.label :email %><br />
  <%= f.text_field :email %>
  <span class="help-block"></span>
</div>

<div class="form-group optional">
  <%= f.label :www %><br />
  <%= f.text_field :www %>
  <span class="help-block"></span>
</div>
