<p>
  <%= f.label :phone1, 'Phone 1' %><br />
  <%= f.text_field :phone1 %>
</p>

<p>
  <%= f.label :phone2, 'Phone 2' %><br />
  <%= f.text_field :phone2 %>
</p>

<p>
  <%= f.label :fax %><br />
  <%= f.text_field :fax %>
</p>

<p>
  <%= f.label :email %><br />
  <%= f.text_field :email %>
</p>

<p>
  <%= f.label :www %><br />
  <%= f.text_field :www %>
</p>
