<div class="form-group optional">
  <%= f.label :phone1, 'Phone 1' %><br />
  <%= f.text_field :phone1 %>
  <span class="help-block"></span>
</div>

<div class="form-group optional">
  <%= f.label :phone2, 'Phone 2' %><br />
  <%= f.text_field :phone2 %>
</div>

<div class="form-group optional">
  <%= f.label :fax %><br />
  <%= f.text_field :fax %>
  <span class="help-block"></span>
</div>

<div class="form-group">
  <%= f.fields_for :emails do |builder| %>
    <%= render :partial => 'shared/email_fields', :locals => {:f => builder} %>
  <% end %>
  <%= link_to_add_object "Dodaj email", f, :emails, "add_email", "shared/" %>
</div>

<div class="form-group optional">
  <%= f.label :www %><br />
  <%= f.text_field :www %>
  <span class="help-block"></span>
</div>
