<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <p>
        <%= f.label :name %><br />
        <%= f.text_field :name, :required => true %>
      </p>

      <p>
        <%= f.label :nip %><br />
        <%= f.text_field :nip, :required => true %>
      </p>
      <%= f.fields_for :address do |address| %>
      <%= render :partial => 'shared/address', :locals => {:f => address} %>
      <% end %>
    </div>
    <div class="col-md-6">

      <%= f.fields_for :contact do |contact| %>
       <%= render :partial => 'shared/contact', :locals => {:f => contact} %>
      <% end %>

      <%= f.label :accounting_email %><br />
      <%= f.text_field :accounting_email %>
    </div>
  </div>

  <div class="row">
    <h3> Domyślne wartości </h3>
    <div class="col-md-6">
      <p>
        <% currencies = ["EUR", "USD", "PLN"] %>
        <%= f.label :invoice_currency %><br />
        <%= f.collection_select :invoice_currency, currencies, :to_s, :to_s, { include_blank: false }, { class: "form-control" } %>
      </p>
      <p>
        <%= f.label :tax_rate_id %><br />
        <%= f.collection_select :tax_rate_id, TaxRate.important_only, :id, :name, {}, {} %>
      </p>
      <p>
        <%= f.label :invoice_language %><br />
        <%= f.text_field :invoice_language %>
      </p>
      <p>
        <%= f.label :payment_term %><br />
        <%= f.text_field :payment_term %>
      </p>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
