<nav class="navbar menubar">
  <ul>
    <li>
      <%= link_to_menu("Zobacz faktury", "glyphicon-search", invoices_path(:client_id=>@client.id)) %>
    </li>

    <li>
      <%= link_to_menu("Zobacz zlecenia", "glyphicon-search", transport_orders_path(:client_id=>@client.id)) %>
    </li>

    <li>
      <%= link_to_menu("Edytuj", "glyphicon-edit", edit_client_path(@client)) %>
    </li>

    <li>
      <%= link_to_menu("Usuń", "glyphicon-trash", client_path(@client), 1) %>
    </li>
  </ul>
</nav>

<h3><%= @client.name %></h3>
<hr>
<div class="row">
  <div class="col-md-6">
    <p>
      <strong>Nazwa firmy:</strong>
      <%= @client.name %>
    </p>
    <p>
      <strong>NIP:</strong>
      <%= @client.nip %>
    </p>
    <p>
      <strong>Email:</strong>
      <% @client.contact.emails.each do |email| %>
      <%= email.address %>
      <% end %>
    </p>
  </div>
  <div class="col-md-6">
    <h4>Adres:</h4>
    <p>
      <%= @client.address.street %><br>
      <%= @client.address.zip %>,
      <%= @client.address.city %><br>
      <%= @client.address.state %><br>
      <%= @client.address.country %><br>
    </p>
    <h4>Kontakt:</h4>
    <p>
      Telefon:
      <%= @client.contact.phone1 %>
      <%= @client.contact.phone2 %><br>
      Fax:
      <%= @client.contact.fax %><br>
      Email:
      <% @client.contact.emails.each do |email| %>
      <%= email.address %>
      <% end %> <br>
      WWW:
      <%= @client.contact.www %><br>
    </p>
  </div>
</div>
