<%= simple_form_for(@item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label :name, "Nazwa" %>
    <%= f.text_field :name %>
    <%= f.error :name %>
    <%= f.label :unit, "jm" %>
    <% units = ['fracht', 'kg', 'szt', 'godz', 'dni', 'mc', 'km', 'm2'] %>
    <%= f.select :unit, options_for_select(units.collect { |c| [ c, c ] }) %>
    <%= f.error :unit %> <br>

    <%= f.label :unit_price_cents, "Cena za jm #{@item.unit}" %>
    <%= f.number_field :unit_price, :step => 'any' %>
    <%= f.error :unit_price %>  <br>
    <%= f.label :tax_rate_id, "Wartość VAT [%]", :step => 'any'  %>
    <%= f.collection_select :tax_rate_id, TaxRate.important_only, :id, :name %>
    <%= f.error :tax_rate %>  <br>
    <%= f.label :pkwiu, "pkwiu" %>
    <%= f.text_field :pkwiu %>
    <%= f.error :pkwiu %> <br>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
