<%= simple_form_for(@item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label :name, "Nazwa" %>
    <%= f.text_field :name %>
    <%= f.label :unit, "jm" %>
    <% units = ['fracht', 'kg', 'szt', 'godz', 'dni', 'mc', 'km', 'm2'] %>
    <%= f.select :unit, options_for_select(units.collect { |c| [ c, c ] }) %> <br>

    <%= f.label :unit_price_cents, "Cena za jm #{@item.unit}" %>
    <%= f.number_field :unit_price, :step => 'any' %> <br>
    <%= f.label :tax, "Wartość VAT [%]", :step => 'any'  %>
    <%= f.text_field :tax %> <br>
    <%= f.label :pkwiu, "pkwiu" %>
    <%= f.text_field :pkwiu %> <br>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
