<%= simple_form_for(@item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label :name, "Nazwa" %>
    <%= f.text_field :name %>
    <%= f.label :unit, "jm" %>
    <%= f.text_field :unit %>
    <%= f.label :unit_price_cents, "Cena za jm #{@item.unit}" %>
    <%= f.number_field :unit_price, :step => 'any' %> <br>
    <%= f.label :tax, "Tax?!", :step => 'any'  %>
    <%= f.number_field :tax, :step => 'any' %> <br>
    <%= f.label :pkwiu, "pkwiu" %>
    <%= f.text_field :pkwiu %> <br>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
