<nav class="navbar menubar">
  <ul>
    <li>
    <%= link_to_menu_item("Edytuj", "glyphicon-edit", edit_item_path(@item)) %>
    </li>

    <li>
    <%= link_to_menu_item("Usuń", "glyphicon-trash", items_path(@item), 1) %>
    </li>

    <li>
    <%= link_to_menu_item("Zobacz faktury", "glyphicon-search", invoices_path(:item_id=>@item.id)) %>
    </li>
  </ul>
</nav>

<h3>Nazwa</h3>
<%= @item.name %>

<h3>Cena za <%= @item.unit %></h3>
<%= "#{humanized_money_with_symbol @item.unit_price}/#{@item.unit}" %>

<h3> pkwiu </h3>
<%= @item.pkwiu %>

<h3> tax </h3>
<%= @item.tax %>

<br>
