<%= simple_form_for(@default_value) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label "Dane firmy", :client_id %>
    <%= f.collection_select :client_id, Client.in_any_group(@group), 'id', 'name', prompt: 'Wybierz sprzedawce' %>
    <%= f.error :client_id %>
  </div>

  <br>

  <div class="info">
  </div>
  
  <div class="form-actions">
    <%= f.button :submit, "Aktualizuj" %>
  </div>
<% end %>
