<%= simple_form_for(@default_value) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label "Dane firmy", :client_id %>
    <%= f.collection_select :client_id, Client.in_any_group(@group), 'id', 'name', prompt: 'Wybierz sprzedawce' %>
    <%= f.error :client_id %>
  </div>

  <br>

  <div class="row">
    <div class="col-md-6">
      <div class="info">
        <% client_edit_path = "" %>
        <% if @default_value.client_id %>
        <% client_edit_path = edit_client_path(:id => @default_value.client_id) %>
        <% end %>
        <%= link_to raw("<button class=\"btn btn-status\">Edytuj</button>"), client_edit_path, :class => "link_to_client_edit" %>
        <br>
        <label class="string optional">Nazwa</label>
        <input id="info_name" type="text" disabled value="<%=  @default_value.client.name if @default_value.client.present? %>">
        <label class="string optional">NIP</label>
        <input id="info_nip" type="text" disabled value="<%=  @default_value.client.nip if @default_value.client.present? %>">
        <label class="string optional">Ulica</label>
        <input id="info_street" type="text" disabled value="<%=  @default_value.client.address.street if @default_value.client.present?  %>" />
      </div>
    </div>
    <div class="col-md-6">
    </div>
  </div>

  <br>

  <div class="form-actions">
    <%= f.button :submit, "Aktualizuj" %>
  </div>
<% end %>
