<div class="email">
  <%= f.select :email_type, options_for_select(MailTemplate::TYPES, f.object.email_type || "unloading") %><br>
  <%= f.label :subject, "Temat" %>
  <%= f.text_field :subject %>

  <%= f.label :content, "Treść" %>
  <%= f.text_area :content %>
  <%= f.hidden_field :_destroy %>
  <a href="" class="remove_mail_template">Usuń schemat maila</a>
  <hr>
</div>
