<table class="table fast_form">
  <thead>
    <tr>
      <th colspan="2">Email</th>
      <th>Nr. ref.</th>
      <th>Kw. frachtu</th>
      <% if carrier.is_third_party %>
      <th>Marża</th>
      <% end %>
      <th colspan="2">Załadunek</th>
      <th colspan="2">Rozładunek</th>
      <th>Dystans</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= f.text_field :client_email, class: "email_input", placeholder: "Email" %></td>
      <td class="hidden_fields">
        <span class="glyphicon glyphicon-info-sign show_client_select" data-toggle="tooltip" data-placement="top" title=""></span>
        <%= f.collection_select :client_id, Client.all.in_any_group(@group), 'id', 'name', prompt: 'Wybierz klienta' %>
        <%= f.hidden_field :carrier_id, value: carrier.id %>
        <%= f.hidden_field :seller_id, value: Client.first.id %>
        <%= f.hidden_field :route %>
        <%= f.hidden_field :carrier_driver_name, value: carrier.driver_name %>
        <%= f.hidden_field :car_registration_number, value: carrier.registration_number %>
      </td>
      <td>
        <%= f.text_field :reference_transport_order_name, placeholder: "Nr. ref." %>
      </td>
      <td><%= f.number_field :freight_rate, placeholder: "Kwota frachtu", class: "freight_rate_input" %></td>
      <% if carrier.is_third_party %>
        <td><%= f.number_field :profit_margin, placeholder: "Marża" %></td>
      <% end %>
      <%= f.fields_for :loading_places do |builder| %>
          <td><%= builder.text_field :zip, placeholder: "Kod pocztowy", class: "zip_input place_input" %></td>
          <td><%= builder.text_field :city, placeholder: "Miasto", class: "city_input place_input" %></td>
      <% end %>
      <%= f.fields_for :unloading_places do |builder| %>
          <td><%= builder.text_field :zip, placeholder: "Kod poczt.", class: "zip_input place_input" %></td>
          <td><%= builder.text_field :city, placeholder: "Miasto", class: "city_input place_input" %></td>
      <% end %>
      <td><%= f.number_field :distance, placeholder: "Dystans", class: "distance_input" %></td>
      <td>
        <%= f.submit "Dodaj", :date => nil, :client_name => nil , :class => "btn btn-default"%>
      </td>
      <td>
        <%= link_to '', new_transport_order_path, class: "glyphicon glyphicon-collapse-down" %>
      </td>
    </tr>
    <tr>
    </tr>
  </tbody>
</table>
