<%= simple_form_for(@transport_order) do |f| %>
  <% if @transport_order.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@transport_order.errors.count, "error") %>
      prohibited this transport_order from being saved:</h2>

    <ul>
      <% @transport_order.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-inputs transport_order_form">
    <div class="row">
      <% if @transport_order.transport_order_name.present? %>
        <div class="col-md-3">
          <%= label_tag :transport_order_name, "Numer zlecenia" %>
          <%= f.fields_for :transport_order_name do |transport_order_name_form| %>
            <% render :partial => 'transport_order_name_form', :locals => {:f => transport_order_name_form} %>
          <% end %>
        </div>
      <% elsif params["user"] == "accounting" %>
        <div class="col-md-3">
          <%= label_tag :transport_order_name, "Numer zlecenia" %>
          <%= link_to 'Stwórz zlecenie', transport_order_create_name_path(@transport_order.id), method: :put %>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col-md-4">
        <p>
          <%= f.label :client, "Klient" %><br />
          <%= f.collection_select :client_id, Client.all, 'id', 'name', prompt: 'Wybierz klienta' %>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <%= f.label :carrier, "Zleceniobiorca" %><br />
          <%= f.collection_select :carrier_id, Carrier.all, 'id', 'registration_number', prompt: 'Wybierz klienta' %>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <%= f.label :seller_id, "Zleceniodawca" %><br />
          <%= f.collection_select :seller_id, Client.all, 'id', 'name', prompt: 'Wybierz zleceniodawca' %>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h2> Załadunek </h2>
        <p>
          <%= label_tag :loading_date, "Data załadunku" %>
          <div class='input-group date' id='datetimepicker2' data-date-format="yyyy-mm-dd" locale="pl">
            <%= f.text_field :loading_date, { class: "form-control", value: '', :readonly => true } %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </p>
        <div>
          <%= f.fields_for :loading_places do |builder| %>
            <%= render 'loading_place_fields', f: builder %>
          <% end %>
          <%= link_to_add_object "Dodaj miejsce", f, :loading_places, "add_loading_place" %>
        </div>
      </div>
      <div class="col-md-6">
        <h2> Załadunek </h2>
        <p>
          <%= label_tag :unloading_date, "Data rozładunku" %>
          <div class='input-group date' id='datetimepicker2' data-date-format="yyyy-mm-dd" locale="pl">
            <%= f.text_field :unloading_date, { class: "form-control", value: '', :readonly => true } %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </p>
        <div>
          <%= f.fields_for :unloading_places do |builder| %>
            <%= render 'unloading_place_fields', f: builder %>
          <% end %>
          <%= link_to_add_object "Dodaj miejsce", f, :unloading_places, "add_loading_place" %>
        </div>
      </div>
    </div>

    <div class="row">
      <h2> Opis ładunku </h2>
      <div class="col-md-12">
        <%= f.fields_for :freichtage_description do |freichtage_description_form| %>
          <% render :partial => 'freichtage_description_form', :locals => {:f => freichtage_description_form} %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p>
          <%= f.label :route, "Trasa" %><br />
          <%= f.text_field :route %>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <p>
          <%= f.label :distance, "Dystans" %><br />
          <%= f.number_field :distance %>
        </p>
      </div>

      <div class="col-md-4">
        <p>
          <%= f.label :freight_rate, "Wartość frachtu" %><br />
          <%= f.number_field :freight_rate %>
        </p>
      </div>

      <div class="col-md-4">
        <p>
          <%= f.label :profit_margin, "Marża" %><br />
          <%= f.number_field :profit_margin %>
        </p>
      </div>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
