<div class="col-md-3">
  <%= f.label :weight, "Waga" %>
  <%= f.number_field :weight %>
</div>

<div class="col-md-3">
  <%= f.label :value, "Objętość" %>
  <%= f.number_field :value %>
</div>

<div class="col-md-3">
  <%= f.label :length, "Długość" %>
  <%= f.number_field :length %>
</div>

<div class="col-md-3">
  <%= f.label :width, "Szerokość" %>
  <%= f.number_field :width %>
</div>

<div class="col-md-3">
  <%= f.label :height, "Wysokość" %>
  <%= f.number_field :height %>
</div>

<div class="col-md-3">
  <%= f.label :packages, "Ilość palet/opakowań" %>
  <%= f.number_field :packages %>
</div>

<div class="col-md-3">
  <%= f.label :packages_type, "Typ palet/opakowań" %>
  <%= f.text_field :packages_type %>
</div>