<h1>Listing transport_orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nr zlecenia</th>
      <th>Wartość frachtu</th>
      <th>Trasa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transport_orders.each do |transport_order| %>
      <tr>
        <td><%= link_to transport_order.transport_order_name.get_name, transport_order %></td>
        <td><%= link_to "#{humanized_money_with_symbol transport_order.freight_rate}", transport_order %></td>
        <td><%= link_to transport_order.route, transport_order %><td>
        <td><%= link_to 'Show', transport_order %></td>
        <td><%= link_to 'Edit', edit_transport_order_path(transport_order) %></td>
        <td><%= link_to 'Destroy', transport_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transport order', new_transport_order_path %>
