<div class="row">
  <div class="col-md-3">
    <h3>Numer zlecenia:</h3>
    <% if @transport_order.transport_order_name %>
      <%= @transport_order.transport_order_name.get_name %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <p>
      <h3>Klient:</h3>
      <%= @transport_order.client.name %> <br>
      <%= @transport_order.client.address.street %>
      <%= @transport_order.client.address.zip %>, <%= @transport_order.client.address.city %>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <h3>Przewoźnik:</h3>
      <%= @transport_order.carrier.carrier_name %> <br>
      <%= @transport_order.carrier.registration_number %>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <h3>Sprzedawca:</h3>
      <%= @transport_order.seller.name %> <br>
      <%= @transport_order.seller.address.street %>
      <%= @transport_order.seller.address.zip %>, <%= @transport_order.client.address.city %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3> Załadunek </h3>
    <% @transport_order.loading_places.each do |loading_place| %>
      <%= "#{loading_place.zip}, #{loading_place.city}" %> <br>
      Data załadunku: <%= loading_place.date %>
      <hr>
    <% end %>
  </div>

  <div class="col-md-6">
    <h3> Rozładunek </h3>
    <% @transport_order.unloading_places.each do |unloading_place| %>
      <%= "#{unloading_place.zip}, #{unloading_place.city}" %> <br>
      Data rozładunku: <%= unloading_place.date %>
      <hr>
    <% end %>
  </div>
</div>

<% if @transport_order.freichtage_description %>

<div class="row">
  <h3>Opis ładunku</h3>
  <div class="col-md-3">
    Waga
    <%= @transport_order.freichtage_description.weight %>
  </div>

  <div class="col-md-3">
    Objętość
    <%= @transport_order.freichtage_description.value %>
  </div>

  <div class="col-md-3">
    Długość
    <%= @transport_order.freichtage_description.length %>
  </div>

  <div class="col-md-3">
    Szerokość
    <%= @transport_order.freichtage_description.width %>
  </div>

  <div class="col-md-3">
    Wysokość
    <%= @transport_order.freichtage_description.height %>
  </div>

  <div class="col-md-3">
    Ilość palet/opakowań
    <%= @transport_order.freichtage_description.packages %>
  </div>

  <div class="col-md-3">
    Typ palet/opakowań
    <%= @transport_order.freichtage_description.packages_type %>
  </div>

</div>

<hr>

<% end %>

<div class="row">
  <div class="col-md-12">
    <p>
      Trasa: <%= @transport_order.route %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <p>
      Dystans: <%= @transport_order.distance %> km
    </p>
  </div>

  <div class="col-md-4">
    <p>
      Wartość frachtu: <%= humanized_money_with_symbol @transport_order.freight_rate %>
    </p>
  </div>

  <div class="col-md-4">
    <p>
      Wartość marży: <%= humanized_money_with_symbol @transport_order.profit_margin %>
    </p>
  </div>
</div>

<%= link_to 'Edit', edit_transport_order_path(@transport_order) %> |
<%= link_to 'Back', transport_orders_path %>
