htop<h1>Listing transport_orders</h1>
<div class="row">
    <div class="col-sm-12">
        <% @carriers.each do |carrier| %>
        <table class="table index_table">
            <thead>
                <tr>
                    <th><%= carrier.registration_number %> </th>
                    <%
                      freight_rate = carrier.transport_orders.sum(:freight_rate_cents)/100.0
                      profit_margin = carrier.transport_orders.sum(:profit_margin_cents)/100.0
                      distance = carrier.transport_orders.sum(:distance)
                      price_per_km = (freight_rate.to_f - profit_margin.to_f)/distance.to_f
                    %>
                    <th><%= "#{carrier.driver_name} - #{carrier.contact.phone1}" %></th>
                    <th>Suma frachtu: <%= humanized_money_with_symbol freight_rate %></th>
                    <th>Suma marż: <%= humanized_money_with_symbol profit_margin %></th>
                    <th>Suma km: <%= distance %></th>
                    <th>Cena za km: <%= humanized_money_with_symbol price_per_km %></th>
                    <th colspan="4"></th>
                </tr>
                <tr>
                    <th>Cena frachtu</th>
                    <th>Cena dla przewoźnika</th>
                    <th>Trasa</th>
                    <th>Data załadunku</th>
                    <th>Data rozładunku</th>
                    <th>Email</th>
                    <th>Uwagi</th>
                    <th>Waga ładunku</th>
                    <th>Opcje</th>
                </tr>
            </thead>
            <tbody>
                <% carrier.transport_orders.each do |transport_order| %>
                <tr>
                    <td><%= link_to "#{humanized_money_with_symbol transport_order.freight_rate}", transport_order %></td>
                    <td><%= link_to "#{humanized_money_with_symbol (transport_order.freight_rate + transport_order.profit_margin)}", transport_order %></td>
                    <td><%= link_to transport_order.route, transport_order %></td>
                    <td>
                        <% loading_date = transport_order.loading_places.first.date %>
                        <%= loading_date.strftime('%F') if !loading_date.nil? %>
                    </td>
                    <td>
                        <div class="btn-group loading-status" transport-order-id="<%= transport_order.id %>">
                            <% button_status_class = "btn-status-#{transport_order.loading_status}" %>
                            <button type="button" class="btn <%= button_status_class %> status dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" transport-order-id="<%= transport_order.id %>">
                                <li>
                                    <a class="loading_option" href="#" value="false">Niewysłano info o załadunku</a>
                                </li>
                                <li>
                                    <a class="loading_option" href="#" value="true">Wysłano info o załadunku</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <% unloading_date = transport_order.unloading_places.first.date %>
                        <%= unloading_date.strftime('%F') if !unloading_date.nil? %>
                    </td>
                    <td>
                        <div class="btn-group unloading-status" transport-order-id="<%= transport_order.id %>">
                            <% button_status_class = "btn-status-#{transport_order.unloading_status}" %>
                            <button type="button" class="btn <%= button_status_class %> status dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" transport-order-id="<%= transport_order.id %>">
                                <li>
                                    <a class="unloading_option" href="#" value="false">Niewysłano info o załadunku</a>
                                </li>
                                <li>
                                    <a class="unloading_option" href="#" value="true">Wysłano info o załadunku</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>
                      <%= transport_order.client.contact.email %>
                    </td>
                    <td>
                        <div class="btn-group invoice-status" invoice-id="<%= transport_order.id %>">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-cog"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><%= link_to 'Show', transport_order %></li>
                                <li><%= link_to 'Edit', edit_transport_order_path(transport_order) %></li>
                                <li><%= link_to 'Destroy', transport_order, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                            </ul>
                        </td>
                    </tr>
                    <% end %>
                    <tr>
                      <%= form_for @transport_order do |f| %>
                          <td><%= f.collection_select :client_id, Client.all, 'id', 'name', prompt: 'Wybierz klienta' %></td>
                          <%= f.hidden_field :carrier_id, value: carrier.id %>
                          <%= f.hidden_field :seller_id, value: Client.first.id %>
                          <td><%= f.text_field :route %></td>
                          <td><%= f.fields_for :loading_places do |builder| %>
                            <div class="place_form">
                              <%= builder.text_field :zip %>
                              <%= builder.text_field :city %>
                            </div>
                          <% end %>
                          </td>
                          <td><%= f.fields_for :unloading_places do |builder| %>
                            <div class="place_form">
                              <%= builder.text_field :zip %>
                              <%= builder.text_field :city %>
                            </div>
                          <% end %>
                          </td>
                          <td>
                            <%= f.fields_for :freichtage_description do |freichtage_description_form| %>
                            <% end %>
                          </td>
                          <td><%= f.number_field :distance %></td>
                          <td><%= f.submit "Dodaj", :date => nil, :client_name => nil , :class => "btn btn-default"%></td>
                      <% end %>
                    </tr>
                </tbody>
            </table>
            <% end %>
        </div>
    </div>
