<%= render :partial => 'shared/create_client_modal' %>
<nav class="navbar menubar">
  <ul class="left">

    <% if current_user.id.to_s == params[:speditor_id]%>
    <li>
      <%= link_to_menu("Dodaj auto", "glyphicon-plus-sign", carrier_memberships_path) %>
    </li>
    <% end %>

    <li>
    <%= link_to_menu("Filtry", "glyphicon-eye-open", "") %>
    </li>

    <li>
    <%= link_to_menu("Szukaj", "glyphicon-search", "") %>
    </li>

    <li>
    <%= link_to_menu("Ustawienia", "glyphicon-cog", carrier_memberships_path) %>
    </li>

    <% if current_user.in_group?(@group, as: 'accounting') || current_user.in_group?(@group, as: 'admin') %>
    <select id="speditor_view_change">
      <% User.in_group(@group).as(:spedition).each do |user| %>
        <% selected = "" %>
        <% if params[:speditor_id] == user.id.to_s %>
          <% selected = "selected" %>
        <% end %>
        <%= raw "<option value=\"#{user.id}\" #{selected}> #{user.email} </option>" %>
      <% end %>
    </select>
    <% end %>
  </ul>
  <div style="clear: both"></div>
</nav>

<div class="row">
  <div class="col-md-12 speditor_view_navigation">
    <span class="prev_date"><%= prev_month_link(params[:year], params[:month], params[:speditor_id]) %></span>
    <span class="current_date"><%= "#{params[:month]}/#{params[:year]}" %></span>
    <span class="next_date"><%= next_month_link(params[:year], params[:month], params[:speditor_id]) %></span>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <% @carriers.each_with_index do |carrier, i| %>
    <div class="panel panel-primary">
    <table class="table index_table">
      <thead>
        <tr class="speditor_view_head_row">
          <th><%= carrier.registration_number %></th>
          <%
          if carrier.transport_orders.from_date(params[:year], params[:month]).count > 0
            freight_rate = carrier.transport_orders.from_date(params[:year], params[:month]).sum(:freight_rate_cents)/100.0
            profit_margin = carrier.transport_orders.from_date(params[:year], params[:month]).sum(:profit_margin_cents)/100.0
            distance = carrier.transport_orders.from_date(params[:year], params[:month]).sum(:distance)
            price_per_km = (freight_rate.to_f - profit_margin.to_f)/distance.to_f
          end
          %>
          <th>
            <%= "#{carrier.driver_name}" %>
            <%=  "- #{carrier.contact.phone1}" if carrier.contact.phone1 .present? %>
            <%=  "- #{carrier.contact.emails.first.address}" if carrier.contact.emails.first.present? %>
            <%=  "- #{carrier.carrier_name}" if carrier.carrier_name.present? %>
          </th>
          <th>Suma frachtu:
            <%= humanized_money_with_symbol freight_rate %></th>
          <th>Suma marż:
            <%= humanized_money_with_symbol profit_margin %></th>
          <th>Suma km:
            <%= distance %></th>
          <th>Cena za km:
            <%= humanized_money_with_symbol price_per_km %></th>
          <th></th>
        </tr>
      </thead>
    </table>
    <table class="table index_table">
      <thead>
        <tr>
          <th>Cena frachtu</th>
          <th>Cena dla przewoźnika</th>
          <th>Trasa</th>
          <th colspan="2">Data załadunku</th>
          <th colspan="2">Data rozładunku</th>
          <th>Email</th>
          <th>Uwagi</th>
          <th colspan="2">Opcje</th>
        </tr>
      </thead>
        <tbody>
          <% carrier.transport_orders.from_date(params[:year], params[:month]).each do |transport_order| %>
          <tr>
            <td><%= link_to "#{humanized_money_with_symbol transport_order.freight_rate}", transport_order %></td>
            <td><%= link_to "#{humanized_money_with_symbol (transport_order.freight_rate + transport_order.profit_margin)}", transport_order %></td>
            <td><%= link_to transport_order.route, transport_order %></td>
            <td>
              <% loading_date = transport_order.loading_places.first.date %>
              <%= loading_date.strftime('%F') if !loading_date.nil? %>
            </td>
            <td>
              <%= render :partial => 'loading_status_button',
              :locals => {:transport_order => transport_order} %>
            </td>
            <td>
              <% unloading_date = transport_order.unloading_places.first.date %>
              <%= unloading_date.strftime('%F') if !unloading_date.nil? %>
            </td>
            <td>
              <%= render :partial => 'unloading_status_button',
              :locals => {:transport_order => transport_order} %>
            </td>
            <td>
              <%= transport_order.client_email %>
            </td>
            <td>
              Uwagi
            </td>
            <td>
              <%= render :partial => 'driver_documents_status_button',
              :locals => {:transport_order => transport_order} %>
            </td>
            <td>
              <%= form_tag upload_document_path, multipart: true do %>
                <%= hidden_field_tag "transport_order_id", transport_order.id %>
                <%= file_field_tag "file" %>
                <%= submit_tag %>
              <% end %>
            </td>
            <td>
              <div class="btn-group" invoice-id="<%= transport_order.id %>">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-cog"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to 'Show', transport_order %></li>
                  <li><%= link_to 'Edit', edit_transport_order_path(transport_order) %></li>
                  <li><%= link_to 'Destroy', transport_order, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                </ul>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <%= form_for @transport_orders[i] do |f| %>
      <%= render :partial => 'fast_form', :locals => {:f => f, :carrier => carrier} %>
    <% end %>
  </div>
  <% end %>
  </div>
</div>
