<!DOCTYPE html>
<html lang="pl-PL">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <%= render 'layouts/header' %>
  <div class="container-fluid content-container">
    <div id="flash">
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: [ "alert", bootstrap_class_for(name) ] %>
      <% end %>
    </div>
    <%= yield %>
  </div>
  <!-- <%= render 'layouts/footer' %> -->

</body>
</html>
